.vertical-sidebar {

  padding-right: 10px;
  top: 0;
  right: -400px; 
  height: 100vh;
  width: auto; 
  background-color: #f8f9fa;
  transition: right 0.3s ease-out, width 0.3s ease-out; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #1a1647;
  box-sizing: border-box; 
}

.vertical-sidebar.expanded {
  background-color: #1a1647;
  right: 0; 
  width: 36.60%; 
}

.toggle-button {
  cursor: pointer;
  font-size: 40px;
  padding-left: 10px;
  height: 70px;
  width: auto;
  box-sizing: border-box; 
  color: #fff;
  text-align: left;
}

.iframe-container {

  height: calc(100vh - 40px);
  overflow: hidden;
}

iframe {
  
  width: 100%;
  height: 100%;
  border: none;
}
